$light-mode: #f6f6f6;
$light-primary-color: #65d9ff;
$light-secondary-color: #e0f7ff;

$dark-mode: #212121;
$dark-primary-color: #bbeeff;
$dark-secondary-color: #2d2d2d;

$font-color: #060606;
$btn-color: #ff7495;
