@use './color-palate' as color;

// reset
*,
::after,
::before {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

li {
  list-style: none;
}

a {
  text-decoration: none;
  color: color.$font-color;
}

body {
  font-family: 'Roboto Slab', serif;
  background-color: color.$light-mode;
}

body.dark-mode {
  background-color: color.$dark-mode;
}

// reset
